<section class="about">
  <div class="container">
    <div class="about__content">
      <div class="about__inner">
        <p class="about__text">
          Несмотря на то, что технологии возведения домов с каждым годом совершенствуются, строительство домов
          из профилированного
          бруса не теряет своей актуальности. Материала лучше дерева для дачных и загородных домов ещё не придумано
        </p>
        <p class="about__strong">
          Дома из бруса всегда отличались качеством и экологичностью
        </p>
        <p class="about__text">
          А если при постройке использовался брус прямоугольной формы, строение будет отличаться ещё и повышенной
          прочностью.
          Стены дома из бруса будто дышат, удерживая тепло и не пропуская лишней влаги, создавая оптимальный
          для человека
          микроклимат.
        </p>
        <p class="about__strong">
          Дома из профилированного бруса под ключ — это недорого и быстро
        </p>
        <p class="about__text">
          Ведь строительство дома под ключ занимает <span>не более 1 месяца</span> (в зависимости от проекта).
          Дом из дерева летом сохраняет
          прохладу, а зимой тепло. <br>
          <br>
          Дерево — экологически чистый материал, в нем вы можете не беспокоиться о возможном ущербе здоровью,
          как это приходится
          делать в домах из современных материалов
        </p>
      </div>
      <img loading="lazy" src="img/about-img-1.webp" class="image" width="377" height="499" alt="img">
    </div>
    <div class="about__content">
      <p class="about__subtitle">
        Дома из профилированного бруса от компании СНК-Строй
      </p>
      <p class="about__strong">
        Мы предлагаем
      </p>
      <p class="about__text">
        Строительство домов из профилированного бруса, как по стандартным проектам, так и по разработанным индивидуально — любой
        планировки, с просторными террасами и балконами. <br>
        <br>
        Профилированный брус от компании СНК-Строй, как правило, изготавливается из древесины хвойных пород — ели, сосны —
        которые прежде чем поступить в обработку проходят тщательную калибровку и отбор. Профилирование бруса происходит только
        после естественной сушки на протяжении 3–5 месяцев с уровнем влажности не более 22%. Поэтому, заказывая в нашей компании
        строительство дома из бруса, вы можете быть уверены в качестве материала
      </p>
      <p class="about__strong">
        Все спроектированные нами дома
      </p>
      <p class="about__text">
        Это красивые, надёжные и современные постройки для комфортного проживания всей семьи не только летом, но и в течение
        всего года. Технология строительства домов из бруса предполагает гладкую внутреннюю сторону и форму гладкую форму
        или форму блок-хауса с внешней стороны, что позволит сэкономить на отделке. <br>
        <br>
        Строить дома из бруса выгодно также и с точки зрения экономии времени. Возведение вашего будущего дома длится в среднем
        <span>около 3 недель,</span> включая в себя два этапа: <br>
        <br>
        Первый этап — силовая часть, в ходе которого закладываются фундамент и сруб под временную и постоянную кровлю.
        Второй этап — все остальные работы <br>
        <br>
        Длительный срок эксплуатации позволит построить вам маленькую крепость на долгие годы. А затем просто наслаждаться
        великолепными характеристиками брусовых домов, уютом и комфортом
      </p>
    </div>
    <ul class="list-reset about__list">
      <li class="about__list-item">
        <img loading="lazy" src="img/about-svg-1.svg" class="image" width="28" height="28" alt="svg">
        <p class="about__name">
          Мы работаем во многих регионах РФ
        </p>
      </li>
      <li class="about__list-item">
        <img loading="lazy" src="img/about-svg-2.svg" class="image" width="28" height="28" alt="svg">
        <p class="about__name">
          Имеем многолетний опыт работы
        </p>
      </li>
      <li class="about__list-item">
        <img loading="lazy" src="img/about-svg-3.svg" class="image" width="28" height="28" alt="svg">
        <p class="about__name">
          Гарантия на качество выполненных работ
        </p>
      </li>
      <li class="about__list-item">
        <img loading="lazy" src="img/about-svg-4.svg" class="image" width="28" height="28" alt="svg">
        <p class="about__name">
          Выезд специалиста для разбивки дома или бани на участке
        </p>
      </li>
      <li class="about__list-item">
        <img loading="lazy" src="img/about-svg-5.svg" class="image" width="28" height="28" alt="svg">
        <p class="about__name">
          Возможность заказать строительство дома как по типовому, так и по индивидуальному проекту
        </p>
      </li>
      <li class="about__list-item">
        <img loading="lazy" src="img/about-svg-6.svg" class="image" width="28" height="28" alt="svg">
        <p class="about__name">
          Собственная производственная база пиломатериалов в г. Пестово
        </p>
      </li>
    </ul>
    <div class="about__box">
      <p class="about__descr">
        Договор на строительство бани из бруса
      </p>
      <a href="" class="about__link">Скачать договор</a>
    </div>
  </div>
</section>
