<section class="feedback">
  <div class="container">
    <div class="feedback__item">
      <p class="feedback__name">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="8" cy="7" r="6.5" stroke="#914948" />
          <circle cx="8" cy="7" r="3" fill="#914948" />
        </svg>
        Семья Филатовых
      </p>
      <p class="feedback__text">
        Добрый день, хочу поблагодарить ребят за наш новый уютный дом, спасибо вам за качественную работу, за осуществление
        нашей мечты. Поздравляем с наступающими праздниками, удачного вам нового года. Всем знакомым и друзьям рекомендую
        строиться у вас!
      </p>
      <p class="feedback__date">
        18.12.2018 11:06
      </p>
    </div>
    <div class="feedback__item">
      <p class="feedback__name">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="8" cy="7" r="6.5" stroke="#914948" />
          <circle cx="8" cy="7" r="3" fill="#914948" />
        </svg>
        Семья Филатовых
      </p>
      <p class="feedback__text">
        Добрый день, хочу поблагодарить ребят за наш новый уютный дом, спасибо вам за качественную работу, за осуществление
        нашей мечты. Поздравляем с наступающими праздниками, удачного вам нового года. Всем знакомым и друзьям рекомендую
        строиться у вас!
      </p>
      <p class="feedback__date">
        18.12.2018 11:06
      </p>
    </div>
    <div class="feedback__item">
      <p class="feedback__name">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="8" cy="7" r="6.5" stroke="#914948" />
          <circle cx="8" cy="7" r="3" fill="#914948" />
        </svg>
        Семья Филатовых
      </p>
      <p class="feedback__text">
        Добрый день, хочу поблагодарить ребят за наш новый уютный дом, спасибо вам за качественную работу, за осуществление
        нашей мечты. Поздравляем с наступающими праздниками, удачного вам нового года. Всем знакомым и друзьям рекомендую
        строиться у вас!
      </p>
      <p class="feedback__date">
        18.12.2018 11:06
      </p>
    </div>
    <div class="feedback__item">
      <p class="feedback__name">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="8" cy="7" r="6.5" stroke="#914948" />
          <circle cx="8" cy="7" r="3" fill="#914948" />
        </svg>
        Семья Филатовых
      </p>
      <p class="feedback__text">
        Добрый день, хочу поблагодарить ребят за наш новый уютный дом, спасибо вам за качественную работу, за осуществление
        нашей мечты. Поздравляем с наступающими праздниками, удачного вам нового года. Всем знакомым и друзьям рекомендую
        строиться у вас!
      </p>
      <p class="feedback__date">
        18.12.2018 11:06
      </p>
    </div>
    <div class="feedback__item">
      <p class="feedback__name">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="8" cy="7" r="6.5" stroke="#914948" />
          <circle cx="8" cy="7" r="3" fill="#914948" />
        </svg>
        Семья Филатовых
      </p>
      <p class="feedback__text">
        Добрый день, хочу поблагодарить ребят за наш новый уютный дом, спасибо вам за качественную работу, за осуществление
        нашей мечты. Поздравляем с наступающими праздниками, удачного вам нового года. Всем знакомым и друзьям рекомендую
        строиться у вас!
      </p>
      <p class="feedback__date">
        18.12.2018 11:06
      </p>
    </div>
  </div>
</section>
