<footer class="footer">
  <div class="section-container">
    <div class="container">
      <div class="footer__content">
        <div class="footer__box">
          <a href="/" class="footer__logo">
            <img loading="lazy" src="img/logo-2.svg" class="image" width="36" height="36" alt="svg">
            <p class="footer__logo-text">
              СтройЛайк53
            </p>
          </a>
          <a href="" class="footer__phone">8 (906) 200-78-88</a>
          <a href="" class="footer__phone">8 (921) 199-90-30</a>
          <a href="" class="footer__mail">infosnk@mail.ru</a>
          <div class="footer__socials">
            <a href="">
              <img loading="lazy" src="img/wat.svg" class="image" width="43" height="43" alt="svg">
            </a>
            <a href="">
              <img loading="lazy" src="img/tg.svg" class="image" width="43" height="43" alt="svg">
            </a>
          </div>
        </div>
        <div class="footer__wrapper">
          <div class="footer__item">
            <p class="footer__name">
              Проекты
            </p>
            <ul class="list-reset footer__list">
              <li class="footer__list-item">
                <a href="" class="footer__link">Каркасные дома</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Дома из бруса под усадку</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Дома из бруса под ключ</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Баня из бруса под усадку</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Баня из бруса под ключ</a>
              </li>
            </ul>
          </div>
          <div class="footer__item">
            <p class="footer__name">
              Заказчику
            </p>
            <ul class="list-reset footer__list">
              <li class="footer__list-item">
                <a href="" class="footer__link">Галерея</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Акции</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Контакты</a>
              </li>

            </ul>
          </div>
          <div class="footer__item">
            <p class="footer__name">
              Компания
            </p>
            <ul class="list-reset footer__list">
              <li class="footer__list-item">
                <a href="" class="footer__link">О нас</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Гарантия</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Ипотека</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Материнский капитал</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Технология</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Отзывы</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Вопрос/ответ</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__link">Статьи</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
