<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__wrapper">
        <a href="/" class="header__logo">
          <img loading="lazy" src="img/logo.svg" class="image" width="36" height="36" alt="logo">
          <p class="header__logo-text">
            Строй<span>Лайк53</span>
          </p>
        </a>

        <nav class="header__nav">
          <ul class="list-reset header__list">
            <li class="header__list-item">
              <a class="header__list-link">Проекты
                <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.64645 3.64645C3.84171 3.84171 4.15829 3.84171 4.35355 3.64645L7.14645 0.853552C7.46143 0.53857 7.23835 0 6.79289 0H1.20711C0.761654 0 0.538571 0.538571 0.853553 0.853553L3.64645 3.64645Z"
                    fill="#CDCDCD" />
                </svg>
              </a>
              <div class="header__sublist">
                <div class="header__subitem">
                  <a href="" class="header__sublink">Каркасные дома</a>
                </div>
                <div class="header__inner header__inner--one">
                  <a class="header__sublink ">Дома из бруса
                    <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3.64645 3.64645C3.84171 3.84171 4.15829 3.84171 4.35355 3.64645L7.14645 0.853552C7.46143 0.53857 7.23835 0 6.79289 0H1.20711C0.761654 0 0.538571 0.538571 0.853553 0.853553L3.64645 3.64645Z"
                        fill="#CDCDCD" />
                    </svg>
                  </a>
                  <div class="header__over">
                    <a href="/proekty/doma-iz-brusa-pod-usadku" class="header__sublink">Дома из бруса под усадку</a>
                    <a href="/proekty/doma-iz-brusa-pod-klyuch" class="header__sublink">Дома из бруса под ключ</a>
                  </div>

                </div>
                <div class="header__inner header__inner--two">
                  <a class="header__sublink header__sublink--two">Бани из бруса
                    <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3.64645 3.64645C3.84171 3.84171 4.15829 3.84171 4.35355 3.64645L7.14645 0.853552C7.46143 0.53857 7.23835 0 6.79289 0H1.20711C0.761654 0 0.538571 0.538571 0.853553 0.853553L3.64645 3.64645Z"
                        fill="#CDCDCD" />
                    </svg>
                  </a>
                  <div class="header__over">
                    <a href="/proekty/bani-iz-brusa-pod-usadku" class="header__sublink">Бани из бруса под усадку</a>
                    <a href="/proekty/bani-iz-brusa-pod-klyuch" class="header__sublink">Бани из бруса под ключ</a>
                  </div>
                </div>


              </div>
            </li>
            <li class="header__list-item">
              <a href="#" class="header__list-link">Галерея</a>
            </li>
            <li class="header__list-item">
              <a href="#" class="header__list-link">Акции</a>
            </li>
            <li class="header__list-item">
              <a class="header__list-link">Компания
                <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.64645 3.64645C3.84171 3.84171 4.15829 3.84171 4.35355 3.64645L7.14645 0.853552C7.46143 0.53857 7.23835 0 6.79289 0H1.20711C0.761654 0 0.538571 0.538571 0.853553 0.853553L3.64645 3.64645Z"
                    fill="#CDCDCD" />
                </svg>
              </a>
              <div class="header__sublist">
                <div class="header__subitem">
                  <a href="/o-nas" class="header__sublink">О нас</a>
                </div>
                <div class="header__subitem">
                  <a href="/garantiya" class="header__sublink">Гарантия</a>
                </div>
                <div class="header__subitem">
                  <a href="/materinskiy-capital" class="header__sublink">Материнский капитал</a>
                </div>
                <div class="header__subitem">
                  <a href="" class="header__sublink">Ипотека</a>
                </div>
                <div class="header__subitem">
                  <a href="" class="header__sublink">Вопрос-ответ</a>
                </div>
                <div class="header__subitem">
                  <a href="" class="header__sublink">Статьи</a>
                </div>

              </div>
            </li>
            <li class="header__list-item">
              <a href="#" class="header__list-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__box">
        <div class="header__socials">
          <a href="#">
            <img loading="lazy" src="img/wat.svg" class="image" width="45" height="54" alt="svg">
          </a>
          <a href="#">
            <img loading="lazy" src="img/tg.svg" class="image" width="45" height="54" alt="svg">
          </a>
        </div>
        <div class="header__socials">
          <a href="#">
            <img loading="lazy" src="img/mail.svg" class="image" width="45" height="54" alt="svg">
          </a>
          <a href="#">
            <img loading="lazy" src="img/phone.svg" class="image" width="45" height="54" alt="svg">
          </a>
        </div>
        <button class="btn-reset header__btn" data-graph-path="modal">
          Расчёт
        </button>
      </div>

    </div>

  </div>
</header>
