<section class="hero">
  <div class="section-container">
    <div class="hero__content">
      <span class="hero__descr">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11_316)">
            <path
              d="M16.419 2.45506C14.8436 0.872906 12.7448 0.00155956 10.5091 0.00155956H10.4995C5.99761 -0.0905826 2.04807 3.87407 2.14076 8.37431C2.2586 11.552 5.31562 15.5876 7.69624 18.6881C8.39537 19.5233 9.41405 20 10.5084 20C11.6412 20 12.6929 19.4896 13.3939 18.5996C15.1599 16.405 18.9734 11.1265 18.8582 8.37423C18.8583 6.137 17.992 4.03488 16.419 2.45506ZM12.1665 17.6329C11.3592 18.6978 9.66091 18.6997 8.85327 17.6347C5.62525 13.5243 3.70307 10.1012 3.70307 8.37427C3.70307 4.61906 6.75193 1.56399 10.4995 1.56399H10.5091C14.2514 1.56399 17.2959 4.6191 17.2959 8.37427C17.2959 10.12 15.4263 13.4946 12.1665 17.6329Z"
              fill="#914948" />
            <path
              d="M10.5776 11.6803C8.7469 11.6803 7.25751 10.1909 7.25751 8.36017C7.25751 6.52948 8.7469 5.04008 10.5776 5.04008C12.4083 5.04008 13.8977 6.52948 13.8977 8.36017C13.8977 10.1909 12.4083 11.6803 10.5776 11.6803ZM10.5776 6.60248C9.6084 6.60248 8.8199 7.39098 8.8199 8.36017C8.8199 9.32936 9.6084 10.1179 10.5776 10.1179C11.5468 10.1179 12.3353 9.32936 12.3353 8.36017C12.3353 7.39098 11.5468 6.60248 10.5776 6.60248Z"
              fill="#914948" />
          </g>
          <defs>
            <clipPath id="clip0_11_316">
              <rect width="20" height="20" fill="white" transform="translate(0.5)" />
            </clipPath>
          </defs>
        </svg>
        Строим в ЦФО и СЗФО
      </span>
      <h1 class="hero__title">
       <span>Уютные</span> и <span>прочные</span> каркасные и брусовые дома <span>от производителя</span>
      </h1>
      <div class="hero__btns">
        <button class="btn-reset hero__btn" data-graph-path="modal">
          Заказать
        </button>
        <a href="#" class="hero__link">Все проекты</a>
      </div>
      <div class="hero__wrapper">
        <ul class="list-reset hero__list">
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            Строим по всей России
          </li>
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            Опыт домостроения с 2005 года
          </li>
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            5 лет гарантии на объект
          </li>
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            Выезд специалиста на участок
          </li>
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            Реализуем индивидуальные проекты
          </li>
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            Собственное производство в г. Пестово
          </li>
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            Работаем по официальному договору
          </li>
          <li class="hero__list-item">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="5" cy="7" r="4.5" stroke="#914948" />
              <circle cx="5" cy="7" r="2" fill="#914948" />
            </svg>
            Наличный/Безнал./Банковская карта
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
