<section class="hit">
  <div class="section-container">
    <div class="hit__cont">
      <h2 class="hit__title">
        Хиты продаж
      </h2>
      <div class="tabs" data-tabs="hit">
        <ul class="list-reset tabs__nav">
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Дома из бруса</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Каркасные дома</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Бани из бруса</button></li>
          <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Все проекты</button></li>
        </ul>
        <div class="tabs__content">
          <div class="tabs__panel">
            <div class="hit__wrapper">
              <div class="swiper hit__swiper hit__swiper--one">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" data-slide="0">
                    <div class="hit__content">
                      <div class="swiper hit__slider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img loading="lazy" src="img/hit-1.webp" class="hit__img image" width="541" height="300"
                              alt="oimg">
                          </div>
                          <div class="swiper-slide">
                            <img loading="lazy" src="img/hit-1.webp" class="hit__img image" width="541" height="300"
                              alt="oimg">
                          </div>
                        </div>
                        <button class="btn-reset hit__slider-prev" data-slide="1">
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M13.2223 7.00008L0.777832 7.00008M0.777832 7.00008L5.4445 11.6667M0.777832 7.00008L5.4445 2.33342"
                              stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </button>
                        <button class="btn-reset hit__slider-next" data-slide="1">
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M0.777724 7.00008L13.2222 7.00008M13.2222 7.00008L8.5555 11.6667M13.2222 7.00008L8.5555 2.33342"
                              stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </button>
                        <div class="hit__pag"></div>
                      </div>
                      <div class="hit__inner">

                        <div class="hit__wrap">
                          <div class="hit__top">
                            <p class="hit__name">
                              Д-01
                            </p>
                            <p class="hit__size">
                              <img loading="lazy" src="img/size.svg" class="image" width="20" height="20" alt="svg">
                              10.5x9
                            </p>
                          </div>
                          <div class="hit__info">
                            <p class="hit__time">
                              <img loading="lazy" src="img/time.svg" class="image" width="28" height="28" alt="svg">
                              20 дней
                            </p>
                            <p class="hit__price">
                              <img loading="lazy" src="img/price.svg" class="image" width="28" height="28" alt="svg">
                              1 400 000 ₽
                            </p>
                          </div>

                        </div>
                        <div class="hit__btns">
                          <a href="/" class="hit__btn">Подробнее</a>
                          <div class="hit__nav">
                            <button class="btn-reset hit__prev " >
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M15.1111 7.99992L0.888916 7.99992M0.888916 7.99992L6.22225 13.3333M0.888916 7.99992L6.22225 2.66659"
                                  stroke="#020202" stroke-width="1.33333" stroke-linecap="round"
                                  stroke-linejoin="round" />
                              </svg>
                            </button>
                            <button class="btn-reset hit__next" >
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M0.888862 7.99992L15.1111 7.99992M15.1111 7.99992L9.77775 13.3333M15.1111 7.99992L9.77775 2.66659"
                                  stroke="#020202" stroke-width="1.33333" stroke-linecap="round"
                                  stroke-linejoin="round" />
                              </svg>
                            </button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-slide="1">
                    <div class="hit__content">
                      <div class="swiper hit__slider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img loading="lazy" src="img/hit-1.webp" class="hit__img image" width="541" height="300"
                              alt="oimg">
                          </div>
                          <div class="swiper-slide">
                            <img loading="lazy" src="img/hit-1.webp" class="hit__img image" width="541" height="300"
                              alt="oimg">
                          </div>
                        </div>
                        <button class="btn-reset hit__slider-prev" data-slide="1">
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2223 7.00008L0.777832 7.00008M0.777832 7.00008L5.4445 11.6667M0.777832 7.00008L5.4445 2.33342"
                              stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </button>
                        <button class="btn-reset hit__slider-next" data-slide="1">
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.777724 7.00008L13.2222 7.00008M13.2222 7.00008L8.5555 11.6667M13.2222 7.00008L8.5555 2.33342"
                              stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </button>
                        <div class="hit__pag"></div>
                      </div>
                      <div class="hit__inner">

                        <div class="hit__wrap">
                          <div class="hit__top">
                            <p class="hit__name">
                              Д-01
                            </p>
                            <p class="hit__size">
                              <img loading="lazy" src="img/size.svg" class="image" width="20" height="20" alt="svg">
                            </p>
                          </div>
                          <div class="hit__info">
                            <p class="hit__time">
                              <img loading="lazy" src="img/time.svg" class="image" width="28" height="28" alt="svg">
                              20 дней
                            </p>
                            <p class="hit__price">
                              <img loading="lazy" src="img/price.svg" class="image" width="28" height="28" alt="svg">
                              1 400 000 ₽
                            </p>
                          </div>

                        </div>
                        <div class="hit__btns">
                          <a href="/" class="hit__btn">Подробнее</a>
                          <div class="hit__nav">
                            <button class="btn-reset hit__prev" >
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M15.1111 7.99992L0.888916 7.99992M0.888916 7.99992L6.22225 13.3333M0.888916 7.99992L6.22225 2.66659"
                                  stroke="#020202" stroke-width="1.33333" stroke-linecap="round"
                                  stroke-linejoin="round" />
                              </svg>
                            </button>
                            <button class="btn-reset hit__next">
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M0.888862 7.99992L15.1111 7.99992M15.1111 7.99992L9.77775 13.3333M15.1111 7.99992L9.77775 2.66659"
                                  stroke="#020202" stroke-width="1.33333" stroke-linecap="round"
                                  stroke-linejoin="round" />
                              </svg>
                            </button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" >
                    <div class="hit__content">
                      <div class="swiper hit__slider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img loading="lazy" src="img/hit-1.webp" class="hit__img image" width="541" height="300" alt="oimg">
                          </div>
                          <div class="swiper-slide">
                            <img loading="lazy" src="img/hit-1.webp" class="hit__img image" width="541" height="300" alt="oimg">
                          </div>
                        </div>
                        <button class="btn-reset hit__slider-prev" >
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2223 7.00008L0.777832 7.00008M0.777832 7.00008L5.4445 11.6667M0.777832 7.00008L5.4445 2.33342"
                              stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </button>
                        <button class="btn-reset hit__slider-next">
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.777724 7.00008L13.2222 7.00008M13.2222 7.00008L8.5555 11.6667M13.2222 7.00008L8.5555 2.33342"
                              stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </button>
                        <div class="hit__pag"></div>
                      </div>
                      <div class="hit__inner">

                        <div class="hit__wrap">
                          <div class="hit__top">
                            <p class="hit__name">
                              Д-01
                            </p>
                            <p class="hit__size">
                              <img loading="lazy" src="img/size.svg" class="image" width="20" height="20" alt="svg">
                            </p>
                          </div>
                          <div class="hit__info">
                            <p class="hit__time">
                              <img loading="lazy" src="img/time.svg" class="image" width="28" height="28" alt="svg">
                              20 дней
                            </p>
                            <p class="hit__price">
                              <img loading="lazy" src="img/price.svg" class="image" width="28" height="28" alt="svg">
                              1 400 000 ₽
                            </p>
                          </div>

                        </div>
                        <div class="hit__btns">
                          <a href="/" class="hit__btn">Подробнее</a>
                          <div class="hit__nav">
                            <button class="btn-reset hit__prev">
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M15.1111 7.99992L0.888916 7.99992M0.888916 7.99992L6.22225 13.3333M0.888916 7.99992L6.22225 2.66659"
                                  stroke="#020202" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                            </button>
                            <button class="btn-reset hit__next">
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M0.888862 7.99992L15.1111 7.99992M15.1111 7.99992L9.77775 13.3333M15.1111 7.99992L9.77775 2.66659"
                                  stroke="#020202" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                            </button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="swiper hit__thumbs hit__thumbs--one">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="hit__item">
                      <img loading="lazy" src="img/hit-1.webp" class="image" width="250" height="170" alt="webp">
                      <div class="hit__overlay">
                        <p class="hit__overlay-name">
                          Д-01
                        </p>
                        <p class="hit__overlay-size">
                          <img loading="lazy" src="img/hit-overlay-size.svg" width="14" height="14" alt="svg">
                          10.5x9
                        </p>
                        <p class="hit__overlay-price">
                          1.411.000 ₽
                        </p>
                      </div>
                      <img loading="lazy" src="img/hit-link.svg" class="hit__overlay-img" width="28" height="28" alt="svg">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hit__item">
                      <img loading="lazy" src="img/hit-1.webp" class="image" width="250" height="170" alt="webp">
                      <div class="hit__overlay">
                        <p class="hit__overlay-name">
                          Д-01
                        </p>
                        <p class="hit__overlay-size">
                          <img loading="lazy" src="img/hit-overlay-size.svg" width="14" height="14" alt="svg">
                          10.5x9
                        </p>
                        <p class="hit__overlay-price">
                          1.411.000 ₽
                        </p>
                      </div>
                      <img loading="lazy" src="img/hit-link.svg" class="hit__overlay-img" width="28" height="28" alt="svg">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hit__item">
                      <img loading="lazy" src="img/hit-1.webp" class="image" width="250" height="170" alt="webp">
                      <div class="hit__overlay">
                        <p class="hit__overlay-name">
                          Д-01
                        </p>
                        <p class="hit__overlay-size">
                          <img loading="lazy" src="img/hit-overlay-size.svg" width="14" height="14" alt="svg">
                          10.5x9
                        </p>
                        <p class="hit__overlay-price">
                          1.411.000 ₽
                        </p>
                      </div>
                      <img loading="lazy" src="img/hit-link.svg" class="hit__overlay-img" width="28" height="28" alt="svg">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hit__item">
                      <img loading="lazy" src="img/hit-1.webp" class="image" width="250" height="170" alt="webp">
                      <div class="hit__overlay">
                        <p class="hit__overlay-name">
                          Д-01
                        </p>
                        <p class="hit__overlay-size">
                          <img loading="lazy" src="img/hit-overlay-size.svg" width="14" height="14" alt="svg">
                          10.5x9
                        </p>
                        <p class="hit__overlay-price">
                          1.411.000 ₽
                        </p>
                      </div>
                      <img loading="lazy" src="img/hit-link.svg" class="hit__overlay-img" width="28" height="28" alt="svg">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hit__item">
                      <img loading="lazy" src="img/hit-1.webp" class="image" width="250" height="170" alt="webp">
                      <div class="hit__overlay">
                        <p class="hit__overlay-name">
                          Д-01
                        </p>
                        <p class="hit__overlay-size">
                          <img loading="lazy" src="img/hit-overlay-size.svg" width="14" height="14" alt="svg">
                          10.5x9
                        </p>
                        <p class="hit__overlay-price">
                          1.411.000 ₽
                        </p>
                      </div>
                      <img loading="lazy" src="img/hit-link.svg" class="hit__overlay-img" width="28" height="28" alt="svg">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hit__item">
                      <img loading="lazy" src="img/hit-1.webp" class="image" width="250" height="170" alt="webp">
                      <div class="hit__overlay">
                        <p class="hit__overlay-name">
                          Д-01
                        </p>
                        <p class="hit__overlay-size">
                          <img loading="lazy" src="img/hit-overlay-size.svg" width="14" height="14" alt="svg">
                          10.5x9
                        </p>
                        <p class="hit__overlay-price">
                          1.411.000 ₽
                        </p>
                      </div>
                      <img loading="lazy" src="img/hit-link.svg" class="hit__overlay-img" width="28" height="28" alt="svg">
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
          <div class="tabs__panel"></div>
          <div class="tabs__panel"></div>
          <div class="tabs__panel"></div>
        </div>
      </div>
    </div>

  </div>
</section>
