<section class="projects">
  <div class="container">
    <h2 class="projects__title">
      Проекты
    </h2>
    <div class="projects__content">
      <a href="#" class="projects__item">
        <p class="projects__name">
          Каркасные дома
        </p>
        <img loading="lazy" src="img/project-arrow.svg" class="projects__svg image" width="14" height="14" alt="svg">
      </a>
      <div class="projects__item">
        <p class="projects__subtitle">
          Собственный проект
        </p>
        <p class="projects__text">
          Воплотим вашу мечту в реальность! Просто отправьте нам набросок или ссылку на проект желаемого строения, и мы бесплатно
          рассчитаем его стоимость!
        </p>
        <button class="btn-reset projects__btn" data-graph-path="modal">
          Отправить
        </button>
      </div>
      <a href="#" class="projects__item">
        <p class="projects__name">
          Дома из бруса под усадку
        </p>
        <img loading="lazy" src="img/project-arrow.svg" class="projects__svg image" width="14" height="14" alt="svg">
      </a>
      <a href="#" class="projects__item">
        <p class="projects__name">
          Дома из бруса под ключ
        </p>
        <img loading="lazy" src="img/project-arrow.svg" class="projects__svg image" width="14" height="14" alt="svg">
      </a>
      <a href="#" class="projects__item">
        <p class="projects__name">
          Дома из бруса под ключ
        </p>
        <img loading="lazy" src="img/project-arrow.svg" class="projects__svg image" width="14" height="14" alt="svg">
      </a>

      <a href="#" class="projects__item">
        <p class="projects__name">
          Бани из бруса под усадку
        </p>
        <img loading="lazy" src="img/project-arrow.svg" class="projects__svg image" width="14" height="14" alt="svg">
      </a>
      <a href="#" class="projects__item">
        <p class="projects__name">
          Ипотека от СберБанка
        </p>
        <img loading="lazy" src="img/project-arrow.svg" class="projects__svg image" width="14" height="14" alt="svg">
      </a>
    </div>
  </div>
</section>
