<section class="section-about">
  <div class="container">

    <h2 class="section-about__title">
      О нас
    </h2>
    <div class="section-about__wrap">
      <p class="section-about__text">
        Мы предлагаем строительство домов из профилированного бруса, как по стандартным проектам,
        так и по разработанным
        индивидуально — любой планировки, с просторными террасами и балконами. <br>
        <br>
        Профилированный брус от компании «СтройЛайк53», как правило, изготавливается из древесины хвойных пород — ели,
        сосны —
        которые прежде чем поступить в обработку проходят тщательную калибровку и отбор. Профилирование бруса
        происходит только
        после естественной сушки на протяжении 3–5 месяцев с уровнем влажности не более 22%. Поэтому, заказывая
        в нашей компании
        строительство дома из бруса, вы можете быть уверены в качестве материала.
      </p>
      <p class="section-about__text">
        Компания «СтройЛайк53» имеет собственную производственную базу в городе Пестово, что выгодно для наших
        клиентов влияет
        на формирование цен на строительство домов и бань из профилированного бруса. Производство собственного
        материала
        позволяет уменьшать его себестоимость, стоимость доставки, разгрузки и погрузки, а значит делать цены на дома
        и бани
        приемлемыми для многих. Бренд «дома под ключ Пестово» сегодня широко известен в России качеством и недорогими
        ценами. <br>
        <br>
        Представительство с выставочными образцами, где вы сможете внимательно посмотреть и выбрать дома
        из профилированного
        бруса из Пестово, находится в Москве
      </p>
    </div>
    <div class="section-about__content">
      <div class="section-about__inner">
        <p class="section-about__caption">
          Офис и производственная база:
        </p>
        <p class="section-about__address">
          Новгородская область, г. Пестово, ул. Первомайская, д. 15
        </p>
        <div class="section-about__item">
          <p class="section-about__accent">
            от 560 000 руб.
          </p>
          <p class="section-about__descr">
            Конкурентные цены
          </p>
        </div>
        <div class="section-about__item">
          <p class="section-about__accent">
            >400
          </p>
          <p class="section-about__descr">
            Построено домов
          </p>
        </div>
        <div class="section-about__item">
          <p class="section-about__accent">
            >20 лет
          </p>
          <p class="section-about__descr">
            Строим с 2005 года
          </p>
        </div>

      </div>
      <img loading="lazy" src="img/about-img.webp" class="image" width="977" height="400" alt="img">
    </div>
    <div class="section-about__wrapper">
      <div class="swiper section-about__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img loading="lazy" src="img/section-about-img.webp" class="image" width="214" height="150" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/section-about-img.webp" class="image" width="214" height="150" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/section-about-img.webp" class="image" width="214" height="150" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/section-about-img.webp" class="image" width="214" height="150" alt="img">
          </div>

          <div class="swiper-slide">
            <img loading="lazy" src="img/section-about-img.webp" class="image" width="214" height="150" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/section-about-img.webp" class="image" width="214" height="150" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/section-about-img.webp" class="image" width="214" height="150" alt="img">
          </div>
        </div>
      </div>
      <button class="btn-reset section-about__prev">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1112 8.00016L0.888962 8.00016M0.888962 8.00016L6.2223 13.3335M0.888962 8.00016L6.2223 2.66683"
            stroke="#222222" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button class="btn-reset section-about__next">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.888862 8.00016L15.1111 8.00016M15.1111 8.00016L9.77775 13.3335M15.1111 8.00016L9.77775 2.66683"
            stroke="#222222" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>


  </div>
</section>
