<section class="steps">
  <div class="container">
    <h2 class="steps__title">
      Как мы работаем
    </h2>
    <div class="steps__content">
      <div class="steps__item">
        <img loading="lazy" src="img/steps-1.svg" class="image" width="28" height="28" alt="svg">
        <p class="steps__text">
          Подготовка участка
        </p>
      </div>
      <div class="steps__item">
        <img loading="lazy" src="img/steps-2.svg" class="image" width="28" height="28" alt="svg">
        <p class="steps__text">
          Возведение фундамента
        </p>
      </div>
      <div class="steps__item">
        <img loading="lazy" src="img/steps-3.svg" class="image" width="28" height="28" alt="svg">
        <p class="steps__text">
          Сборка «коробки» объекта
        </p>
      </div>
      <div class="steps__item">
        <img loading="lazy" src="img/steps-4.svg" class="image" width="28" height="28" alt="svg">
        <p class="steps__text">
          Кровельные работы
        </p>
      </div>
      <div class="steps__item">
        <img loading="lazy" src="img/steps-5.svg" class="image" width="28" height="28" alt="svg">
        <p class="steps__text">
          Усадка (для домов из бруса)
        </p>
      </div>
      <div class="steps__item">
        <img loading="lazy" src="img/steps-6.svg" class="image" width="28" height="28" alt="svg">
        <p class="steps__text">
          Внутренняя и внешняя отделка
        </p>
      </div>
      <div class="steps__item">
        <img loading="lazy" src="img/steps-7.svg" class="image" width="28" height="28" alt="svg">
        <p class="steps__text">
          Благоустройство территории
        </p>
      </div>
      <div class="steps__item">
        <p class="steps__subtitle">
          Готово!
        </p>
      </div>
    </div>
  </div>
</section>

