<section class="stocs">
  <div class="container">
    <div class="stocs__content">
      <div class="stocs__inner">
        <h2 class="stocs__title">
          Акции
        </h2>
        <p class="stocs__text">
          При заказе проекта вы получите подарки по нашим акциям
        </p>
      </div>
      <div class="swiper stocs__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img loading="lazy" src="img/stocs-1.webp" class="image" width="864" height="362" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/stocs-2.webp" class="image" width="864" height="362" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/stocs-3.webp" class="image" width="864" height="362" alt="img">
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="img/stocs-4.webp" class="image" width="864" height="362" alt="img">
          </div>

        </div>
      </div>
      <button class="btn-reset stocs__prev">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1112 8.84489L0.888962 8.84489M0.888962 8.84489L6.2223 14.1782M0.888962 8.84489L6.2223 3.51156"
            stroke="#020202" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button class="btn-reset stocs__next">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.888862 8.84489L15.1111 8.84489M15.1111 8.84489L9.77775 14.1782M15.1111 8.84489L9.77775 3.51156"
            stroke="#020202" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="stocs__pag">

    </div>
  </div>
</section>
