// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --second-family: "Euclid Square", sans-serif;
  --third-family: "Golos Text", sans-serif;
  --content-width: 1304px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --bg: #f3f5f7;
  --devider: #d5d7d9;
  --dark: #222;
  --red: #914948;
  --yellow: #fde7d5;
}
